.burger {
   display: none;
   flex-direction: column;
   gap: 5px;
   cursor: pointer;
   z-index: 1000;
 }

.burger span {
  background-color: var(--coloro-brown);
  width: 26px;
  height: 3px;
  transition: all 0.3s;
}

.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -7px);
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }
}