.contact {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.contact__title {
  margin-bottom: 32px;
}

.contact__info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.contact__info-title {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: 48px;
  line-height: 94%;
}

.contact__info-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 24px;
  padding-bottom: 40px;
}

.contact__info-item {
  display: grid;
  gap: 8px;
}

.contact__info-text a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;

  &:hover {
    color: var(--coloro-brown-light);
  }
}

.contact__socials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact__info-map {
  width: 100%;
  min-height: 250px;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.contact__form-title {
  margin-block: 56px 16px;
}

.contact__form-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media (max-width: 1280px) {

  .contact__social-image {
    width: 48px;
  }

  .contact__form {
    padding: 56px 16px;
  }
}

@media (max-width: 1024px) {

  .contact__social-image {
    width: 40px;
  }

  .contact__info-title {
  font-size: 32px;
  }
}

@media (max-width: 768px) {

  .contact__info-list {
    grid-template-columns: 1fr;
  }

  .contact__form-fields {
    grid-template-columns: 1fr;
  }

  .contact__form-title {
    margin-top: 32px;
  }

  .contact__info-title {
  font-size: 24px;
  }
}
