.fly {
  position: relative;


  &::after,
  &::before {
    position: absolute;
    content: "";
    z-index: 1;
    background: url("../../images/golden-butterfly.png") no-repeat center/cover;
    aspect-ratio: 525 / 350;
  }
}

.fly--1 {
  &::after {
    right: -10%;
    bottom: -70%;
    width: 150px;
    rotate: -45deg;
  }
}

@media (max-width: 1024px) {
  .fly--1 {
    &::after {
      width: 120px;
    }
  }
}

@media (max-width: 768px) {
  .fly--1 {
    &::after {
      width: 90px;
    }
  }
}

@media (max-width: 480px) {
  .fly--1 {
    &::after {
      right: -20%;
    }
  }
}


.fly--2 {
  &::after {
    right: 15%;
    bottom: -50%;
    width: 90px;
    rotate: 20deg;
  }
}

@media (max-width: 1024px) {
  .fly--2 {
    &::after {
      width: 50px;
    }
  }
}

@media (max-width: 768px) {
  .fly--2 {
    &:after {
      width: 0;
    }
  }
}


.fly--3 {
  &::after {
    left: 0;
    bottom: 50%;
    width: 150px;
    rotate: 55deg;
  }
}

@media (max-width: 1024px) {
  .fly--3 {
    &::after {
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  .fly--3 {
    &::after {
      width: 70px;
    }
  }
}

.fly--4 {
  &::after {
    right: 0;
    bottom: -5%;
    width: 150px;
    rotate: -45deg;
  }
}

@media (max-width: 1024px) {
  .fly--4 {
    &::after {
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  .fly--4 {
    &::after {
      width: 70px;
    }
  }
}

.fly--5-6 {
  &::before {
    left: 0;
    top: -10%;
    width: 140px;
    rotate: 120deg;
  }

  &::after {
    right: 0;
    bottom: -5%;
    width: 140px;
    rotate: -45deg;
  }
}

@media (max-width: 1024px) {
  .fly--5-6 {
    &::before {
      width: 100px;
    }

    &::after {
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  .fly--5-6 {
    &::before {
      top: 0;
      width: 70px;
    }

    &::after {
      bottom: 0;
      width: 70px;
    }
  }
}

.fly--7-8 {
  &::before {
    left: 0;
    bottom: -10%;
    width: 150px;
    rotate: 45deg;
  }

  &::after {
    right: 0;
    top: -10%;
    width: 140px;
    rotate: -145deg;
  }
}

@media (max-width: 1024px) {
  .fly--7-8 {
    &::before {
      width: 110px;
    }

    &::after {
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  .fly--7-8 {
    &::before {
      width: 70px;
    }

    &::after {
      width: 70px;
    }
  }
}

.fly--9 {
  &::after {
    right: 0;
    top: -10%;
    width: 120px;
    rotate: -145deg;
  }
}

@media (max-width: 1024px) {
  .fly--9 {
    &::after {
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  .fly--9 {
    &::after {
      width: 70px;
    }
  }
}

.fly--10 {
  &::after {
    left: 0;
    top: -10%;
    width: 120px;
    rotate: 155deg;
  }
}

@media (max-width: 1024px) {
  .fly--10 {
    &::after {
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  .fly--10 {
    &::after {
      width: 70px;
    }
  }
}

.fly--11 {
  &::after {
    right: 0;
    bottom: -10%;
    width: 120px;
    rotate: -45deg;
  }
}

@media (max-width: 1024px) {
  .fly--11 {
    &::after {
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  .fly--11 {
    &::after {
      width: 70px;
    }
  }
}

.fly--12 {
  &::after {
    left: 0;
    top: 5%;
    width: 150px;
    rotate: 140deg;
  }
}

@media (max-width: 1024px) {
  .fly--12 {
    &::after {
      top: 10%;
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  .fly--12 {
    &::after {
      width: 70px;
    }
  }
}

.fly--13 {
  &::after {
    right: 0;
    top: 5%;
    width: 150px;
    rotate: -140deg;
  }
}

@media (max-width: 1024px) {
  .fly--13 {
    &::after {
      top: 10%;
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  .fly--13 {
    &::after {
      width: 70px;
    }
  }
}

.fly--14 {
  &::after {
    left: 0;
    bottom: -8%;
    width: 150px;
    rotate: 75deg;
  }
}

@media (max-width: 1024px) {
  .fly--14 {
    &::after {
      bottom: -5%;
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  .fly--14 {
    &::after {
      width: 70px;
    }
  }
}

.fly--15 {
  &::after {
    right: 0;
    bottom: -8%;
    width: 150px;
    rotate: -70deg;
  }
}

@media (max-width: 1024px) {
  .fly--15 {
    &::after {
      bottom: -5%;
      width: 100px;
    }
  }
}

@media (max-width: 768px) {
  .fly--15 {
    &::after {
      width: 70px;
    }
  }
}


