.form {
  padding: 24px 16px;
  display: grid;
  gap: 16px;
  background-color: var(--coloro-gray);
  border-radius: var(--border-radius);
  border: var(--border);
}

.form__fields {
  display: grid;
  gap: 16px;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 6px;

}

.form__field--wide {
  grid-column: -1 / 1;
}

.form__label {
  text-transform: uppercase;
}

.form__input,
.form__select,
.form__textarea {
  padding: 12px 16px;
  background-color: var(--coloro-gray-light);
  border: 1px solid var(--coloro-black);
  border-radius: var(--border-radius);
}
