.logo {
  font-family: var(--font-family);
  color: var(--coloro-brown);
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
}

@media (max-width: 1280px) {
  .logo {
    font-size: 32px;
  }
}

@media (max-width: 1024px) {
  .logo {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}