.popular {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin-top: 40px;
}

.popular__title {
  margin-bottom: 32px;
}

.popular__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.popular__gallery-item {
  position: relative;
  border: 1px solid var(--coloro-black);
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  transition-duration: var(--transition-duration);

  &:hover {
    scale: 1.05;
  }
}

.popular__gallery-image {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.popular__gallery-caption {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-family: var(--font-family);
  font-style: italic;
  color: var(--coloro-white);
  z-index: 1;
}

.popular__button {
  margin-inline: auto;
}

@media (max-width: 1024px) {
  .popular__gallery {
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .popular__gallery {
    gap: 16px;
  }
}