.socials__list {
  padding-top: 32px;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.socials__link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--coloro-brown-light);
  }
}
