body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 32px;
}

.main {
  flex: 1;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
}

.section {
  padding: 40px 32px;
}

.section__title,
.section__subtitle {
  text-align: center;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-family-secondary);
}

h1, .h1,
h2, .h2 {
  font-weight: 400;
  font-size: 96px;
  line-height: 47%;
  text-align: center;
}

h3, .h3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 94%;
}

@media (max-width: 1024px) {
  body {
    font-size: 24px;
  }

  .section {
    padding: 32px 16px;
  }

  h1, .h1,
  h2, .h2 {
    font-size: 80px;
  }

  h3, .h3 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .section {
    padding: 16px 16px;
  }

  h1, .h1,
  h2, .h2 {
    font-size: 72px;
  }

  h3, .h3 {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  h1, .h1,
  h2, .h2 {
    font-size: 56px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}